<% include partials/header %>
<div class='container'>
    <div class="row">
        <h1 style="text-align: center">Add Expenses</h1>
        <div style="width: 30% ; margin: 20px auto;">
            <form action="/new" method="POST">
                <div class="form-group">
                    <label for="account">Choose Account</label>
                    <select class="form-control" id="account" name="accountId">
                      <% accounts.forEach(function(account) {%>
                              <option value="<%= account._id %>"><%= account.name %> - <%= account.balance %> </option>
                      <% }); %>
                    </select>
                </div>
                <div class="form-group">
                    <input class='form-control' type="text" name='description' placeholder="Add description" required>    
                </div>
        
                <div class="form-group">
                    <input class='form-control' type="number" name='expense' placeholder="Add the expense" required>    
                </div>
                <div class='form-group'>
                    <button class='btn btn-large btn-default btn-block btn-primary'>Add expense</button>
                </div>
                <a href="/">Go to homepage</a>
                <% include partials/footer %>
            </form>
        </div>
    </div>
    
</div>