<% include partials/header %>
<div class="container">
    
    <header class='jumbotron'>
        <div class="container">
        <h1>Your recent transactions</h1>
        </div>
    </header>
    
    <div class='row' style="display:flex; flex-wrap: wrap;">
        <% transactions.forEach(function(transaction) { %>
            <div class='col-md-3 col-sm-6'>
                <div class="thumbnail">
                    <div class="caption text-center">
                        <h4>
                            <%= transaction.dateAdded.toDateString() %>
                        </h4>
                    </div>
                    <li><%= transaction.tag%></li>
                    <li><%= transaction.description %></li>
                    <li><%= transaction.expenseAmount %></li>
                </div>
            </div>
        <% }); %>
    </div>
    <% include partials/footer %>
</div>

