<% include partials/header %>
<a href="/account/new">Add a new account</a>
<h1>This shows all the transactions done by the user</h1>

<% transactions.forEach(function(transaction) { %>
    <div>
        <li><%= transaction.tag %></li>
        <li><%= transaction.description %></li>
        <li><%= transaction.amount %></li>
    </div>
<% }); %>

<% include partials/footer %>